n8n/On form Submission - Sentiment Analysis Ver 2/On Form submission - Sentiment analysis Ver 2.json
{
  "name": "On Form submission - Sentiment analysis Ver 2",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Review System",
        "formDescription": "Provide feedbak",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Describe the service",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1392,
        240
      ],
      "id": "63747453-dbbf-4c87-972a-02159559170c",
      "name": "On form submission",
      "webhookId": "d95535de-12ea-43ff-9288-c522861bbb50"
    },
    {
      "parameters": {
        "inputText": "={{ $json['Describe the service'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        -1168,
        240
      ],
      "id": "9f471663-2f57-4a46-b0c4-66017dde6c6e",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1096,
        496
      ],
      "id": "534242c1-31ce-432e-8ec7-bc0e8b07df29",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ReBbz3Dj85A9IIOr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        -816,
        240
      ],
      "id": "a107366c-e218-4084-8f26-9419893aaa24",
      "name": "Summarization Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -744,
        464
      ],
      "id": "8d0b9011-8bd3-4397-b0f6-c7206af1c007",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ReBbz3Dj85A9IIOr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.output.text }}",
        "categories": {
          "categories": [
            {
              "category": "negative"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -464,
        240
      ],
      "id": "e2f264aa-98d5-4c55-a5f6-64c9dba7c084",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -392,
        464
      ],
      "id": "4c0cc6db-3bde-4869-bf81-e92a207921ee",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "ReBbz3Dj85A9IIOr",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [],
        [],
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3eba43dc-ae7a-414a-87df-59d04c581fe9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "115e390902a9688868052192407aa9ae130fbf662385cd2ab51971daa45a5014"
  },
  "id": "I1vN45JUbWR10pbs",
  "tags": []
}