n8n/IF-SWITCH-FILE CONVERSION/IF, SWITCH and FILE CONVERSION.json
{
  "name": "IF, SWITCH and FILE CONVERSION",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        32
      ],
      "id": "a99186e7-15de-4c50-a7d6-02ad48d8b9b0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8f4892b0-6b12-464d-8dfc-a02ef3a22750",
              "leftValue": 5,
              "rightValue": 12,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        32
      ],
      "id": "29f23790-67a4-47e3-a756-04e8e142a7a4",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07650b42-0882-46ee-bfe8-05d34cc32a3f",
              "name": "Result",
              "value": "=Young Boy",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        48
      ],
      "id": "8c78bcf0-8aac-4cce-ace1-8446bbd4a0fa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7f4cb439-26e9-4ee4-82a5-6a2e49dedfb0",
                    "leftValue": "Final Result",
                    "rightValue": "={{ $json.Result }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0c19038b-949c-41e0-84c4-14147dc1966d",
                    "leftValue": "Age",
                    "rightValue": "54",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f4b8dacf-5219-4397-880e-2eb28dc9bb60",
                    "leftValue": "City",
                    "rightValue": "Chennai",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        208,
        32
      ],
      "id": "2765c19c-6a83-4622-8f76-77e67fa014a4",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0fd308c-78ab-40c3-8c0a-a25efaedaeae",
              "name": "Result",
              "value": "={{ $('Edit Fields').item.json.Result }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -144
      ],
      "id": "ce4f3098-15bc-4932-8458-108941e0a8aa",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "Young or Old ?",
        "binaryPropertyName": "=data {{ $('Edit Fields').item.json.Result }}",
        "options": {
          "fileName": "MyConditionalTest.txt"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        432,
        240
      ],
      "id": "30d37d53-4781-45f2-825f-6a4c6718b894",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "html",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        432,
        48
      ],
      "id": "89328847-76e6-4695-9e6b-c682d77551cf",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "content": "## Just for Display",
        "height": 192,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        -192
      ],
      "typeVersion": 1,
      "id": "4e3d8b53-c63d-4ed7-9dac-14f2c5e9da2a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## HTML File",
        "height": 192,
        "width": 208,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        0
      ],
      "typeVersion": 1,
      "id": "afbc4a7d-3c50-44cd-978e-d6dec3d524fb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Text File",
        "height": 192,
        "width": 208,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        192
      ],
      "typeVersion": 1,
      "id": "652e9f04-df2e-4f81-bcdc-199b78cad267",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d3f7df05-97e5-46c0-815b-359790346aa9",
  "meta": {
    "instanceId": "115e390902a9688868052192407aa9ae130fbf662385cd2ab51971daa45a5014"
  },
  "id": "w3F5CjMg2fZ6aYdp",
  "tags": []
}